.hero {
  text-align: center;
  min-height: calc(100vh - var(--ifm-navbar-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  margin-top: var(--ifm-navbar-height);
}

.hero h1 span.highlight {
  color: #00c9b7;
  background: rgba(0, 201, 183, 0.15);
  padding: 4px 24px;
  border-radius: 9999px;
  font-weight: 700;
}

.hero h1 span.block {
  display: block;
}

.hero p {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  color: #666;
  max-width: 800px;
}

.hero .buttons {
  margin-top: 2.5rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.hero .buttons .button:first-child:hover {
  background-color: #0b9287;
}

/* Features Section */
.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 10rem 2rem;
  position: relative;
  margin-top: -2rem; /* Negative margin to remove the gap */
  background: transparent;
}

/* Dark mode specific styles */
[data-theme="dark"] .features {
  background: #0e172b;
}

.features div {
  flex: 1;
  min-width: 250px;
}

/* Dark Mode */
html[data-theme="dark"] .hero p {
  color: #aaa;
}

html[data-theme="dark"] .features {
  background: #0e172b;
}
