/* dark mode */
.footer {
  background: #030711;
  color: #f8fafc;
  padding: 3rem 0;
  border-top: 1px solid rgb(30, 41, 59);
}

.footer img {
  display: block;
  margin: 0 auto;
  width: 60px;
}

.link {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.footer hr {
  border: none;
  border-top: 1px solid #2c2c2c;
  margin: 1rem 0;
}

.footer .copyright {
  text-align: center;
}

/* Light mode */
html[data-theme="light"] .footer {
  background: #f9f9f9;
  color: #222;
  border-color: rgb(226, 232, 240);
}

html[data-theme="light"] .footer hr {
  border-top: 1px solid #ddd;
}

.link a {
  color: #00c9b7;
  font-size: 0.875rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.link a:hover {
  color: #33d4c5;
  text-decoration: none;
}
